<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.jarvis.menubar</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/opt/jarvis-v3/menubar/start.sh</string>
    </array>
    
    <key>RunAtLoad</key>
    <true/>
    
    <key>KeepAlive</key>
    <true/>
    
    <key>StandardOutPath</key>
    <string>/var/log/jarvis-menubar.log</string>
    
    <key>StandardErrorPath</key>
    <string>/var/log/jarvis-menubar.error.log</string>
    
    <key>WorkingDirectory</key>
    <string>/opt/jarvis-v3/menubar</string>
    
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
</dict>
</plist>
